Repository jp-knj/jetmd: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --, taplo fmt

feat: Astro integration and real-world testing
  STATUS.md
  crates/fmd-core/src/ast.rs
  crates/fmd-core/src/error.rs
  crates/fmd-core/src/lib.rs
  crates/fmd-core/src/parser_impl.rs
  crates/fmd-wasm/src/parse.rs
  crates/fmd-wasm/src/render.rs
  demo/API.html
  demo/API.md
  demo/CHANGELOG.html
  demo/CHANGELOG.md
  demo/README.html
  demo/README.md
  demo/performance-comparison.js
  demo/real-world-test.js
  examples/astro-example/astro.config.mjs
  examples/astro-example/package.json
  examples/astro-example/src/content/blog/first-post.md
  examples/astro-example/src/content/config.ts
  examples/astro-example/src/layouts/Layout.astro
  examples/astro-example/src/pages/index.astro
  examples/basic-usage.js
  examples/incremental-parsing.js
  packages/astro-jetmd/README.md
  packages/astro-jetmd/package.json
  packages/astro-jetmd/src/index.ts
  packages/astro-jetmd/tsconfig.json
  packages/faster-md/src/cache.js
  packages/faster-md/src/loader.js
  packages/faster-md/src/parse.js
  packages/faster-md/src/render.js
  test-astro-docs.js
  test-comprehensive.js
  test-direct.js
  test-gfm.js
  test-wasm.js
  tests/benchmarks/latency.rs
  tests/benchmarks/memory.rs
  tests/benchmarks/wasm_perf.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

chore: format and update dependencies
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

fix: resolve all linting errors to pass CI
  demo/performance-comparison.js
  demo/real-world-test.js
  packages/astro-jetmd/src/index.ts
  packages/faster-md/src/cache.js
  packages/faster-md/src/render.js
Due: biome check --apply --no-errors-on-unmatched

fix: configure biome to only check JS/TS files
  biome.json
  package.json
Due: biome format --write --no-errors-on-unmatched

chore: format and update dependencies
  packages/astro-jetmd/package.json
  packages/astro-jetmd/src/index.ts
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: resolve build errors in CI
  crates/fmd-core/src/parser_impl.rs
  crates/fmd-html/src/visitor.rs
Due: cargo fmt --

fix: resolve Rust benchmark compilation errors
  tests/benchmarks/latency.rs
  tests/benchmarks/memory.rs
Due: cargo fmt --

fix: complete benchmark API migration
  tests/benchmarks/latency.rs
  tests/benchmarks/memory.rs
Due: cargo fmt --

fix: final string repetition fix in benchmarks
  tests/benchmarks/memory.rs
Due: cargo fmt --

fix: suppress clippy warnings in benchmark files
  tests/benchmarks/latency.rs
  tests/benchmarks/memory.rs
Due: cargo fmt --

fix: remove unused import warning in benchmark tests
  tests/benchmarks/memory.rs
Due: cargo fmt --

docs: add contributor guidelines
  AGENTS.md
Due: biome format --write --no-errors-on-unmatched

chore: log contributor guide in tasks
  specs/001-faster-md-mdx/tasks.md
Due: biome format --write --no-errors-on-unmatched

docs: refresh api docs and benchmark status
  README.md
  docs/api.md
  docs/migration.md
  specs/001-faster-md-mdx/tasks.md
  tests/benchmarks/wasm_perf.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: prepare package metadata for release
  Cargo.toml
  crates/fmd-cli/Cargo.toml
  crates/fmd-core/Cargo.toml
  crates/fmd-gfm/Cargo.toml
  crates/fmd-html/Cargo.toml
  crates/fmd-slug/Cargo.toml
  crates/fmd-wasm/Cargo.toml
  crates/mdx-core/Cargo.toml
  package.json
  packages/astro-jetmd/.npmignore
  packages/astro-jetmd/package.json
  packages/faster-md-cli/.npmignore
  packages/faster-md-cli/package.json
  packages/faster-md-vite/.npmignore
  packages/faster-md-vite/package.json
  packages/faster-md/.npmignore
  packages/faster-md/package.json
  packages/mdx-compiler/.npmignore
  packages/mdx-compiler/package.json
  packages/mdx-runtime/.npmignore
  packages/mdx-runtime/package.json
  packages/mdx-vite/.npmignore
  packages/mdx-vite/package.json
  packages/wasm/.npmignore
  packages/wasm/package.json
  specs/001-faster-md-mdx/tasks.md
Due: biome format --write --no-errors-on-unmatched, taplo fmt

chore: tighten pnpm workspace release config
  .npmrc
  package.json
  pnpm-workspace.yaml
  specs/001-faster-md-mdx/tasks.md
Due: biome format --write --no-errors-on-unmatched

chore: add release build pipeline
  package.json
  packages/astro-jetmd/package.json
  packages/faster-md-cli/package.json
  packages/faster-md-vite/package.json
  packages/faster-md/package.json
  packages/faster-md/types/index.d.ts
  packages/mdx-compiler/package.json
  packages/mdx-runtime/package.json
  packages/mdx-vite/package.json
  rollup.config.release.mjs
  scripts/build-release.sh
  scripts/verify-release.sh
  specs/001-faster-md-mdx/tasks.md
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add action items for perf tasks
  specs/001-faster-md-mdx/tasks.md
Due: biome format --write --no-errors-on-unmatched

docs: document release prerequisites and config
  .changeset/config.json
  .npmrc
  docs/RELEASE.md
  specs/001-faster-md-mdx/tasks.md
Due: biome format --write --no-errors-on-unmatched

ci: add release workflow and supporting docs
  .github/release-template.md
  .github/workflows/release.yml
  docs/compatibility.md
  docs/post-release-checklist.md
  scripts/verify-release.sh
  specs/001-faster-md-mdx/tasks.md
Due: biome format --write --no-errors-on-unmatched

fix: update pnpm lockfile to match overrides configuration
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

fix: resolve build and lint issues for release
  .github/workflows/release.yml
  .gitignore
  packages/faster-md-cli/src/cli.js
  packages/faster-md/tsconfig.json
  scripts/verify-release.sh
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: format and update dependencies
  PR_DESCRIPTION.md
  examples/astro-example/package.json
  package.json
  packages/astro-jetmd/package.json
  packages/astro-jetmd/src/index.ts
  packages/faster-md-cli/package.json
  packages/faster-md-vite/package.json
  packages/faster-md/README.md
  packages/faster-md/package.json
  packages/faster-md/src/render.js
  packages/mdx-compiler/package.json
  packages/mdx-runtime/package.json
  packages/mdx-vite/package.json
  pnpm-lock.yaml
  test-astro-docs.js
  test-comprehensive.js
  test-direct.js
  test-gfm.js
  test-wasm.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --apply --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  biome format --write --no-errors-on-unmatched: any of: *.{json,md,yml,yaml}
  cargo fmt --: any of: *.rs
  taplo fmt: any of: *.toml
