Repository jp-knj/jetmd: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --, taplo fmt

fix: update package.json files with exact versions and update tasks.md
  packages/faster-md-cli/package.json
  packages/faster-md-vite/package.json
  packages/faster-md/package.json
  packages/mdx-compiler/package.json
  packages/mdx-runtime/package.json
  packages/mdx-vite/package.json
  specs/001-faster-md-mdx/tasks.md
Due: biome format --write --no-errors-on-unmatched

feat: add failing tests for TDD approach (Phase 3.2)
  .idea/.gitignore
  .idea/copilot.data.migration.agent.xml
  .idea/copilot.data.migration.edit.xml
  .idea/jetmd.iml
  .idea/modules.xml
  .idea/vcs.xml
  PR_DESCRIPTION.md
  crates/fmd-core/tests/incremental_contract.rs
  crates/fmd-core/tests/parse_contract.rs
  crates/fmd-html/tests/render_contract.rs
  crates/fmd-wasm/tests/parse_wasm.rs
  crates/fmd-wasm/tests/render_wasm.rs
  crates/fmd-wasm/tests/session_wasm.rs
  tests/conformance/commonmark.rs
  tests/conformance/gfm.rs
  tests/fixtures/mdx/basic.mdx
  tests/fixtures/mdx/complex.mdx
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: implement WASM bindings (T047-T050)
  crates/fmd-core/src/incremental.rs
  crates/fmd-core/src/lib.rs
  crates/fmd-gfm/src/lib.rs
  crates/fmd-html/src/lib.rs
  crates/fmd-wasm/src/lib.rs
  crates/fmd-wasm/src/parse.rs
  crates/fmd-wasm/src/render.rs
  crates/fmd-wasm/src/session.rs
Due: cargo fmt --

chore: remove .idea directory from Git tracking
  .idea/.gitignore
  .idea/copilot.data.migration.agent.xml
  .idea/copilot.data.migration.edit.xml
  .idea/jetmd.iml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

style: format code with cargo fmt and fix linting issues
  crates/fmd-cli/src/main.rs
  crates/fmd-core/src/ast.rs
  crates/fmd-core/src/incremental.rs
  crates/fmd-core/src/inline.rs
  crates/fmd-core/src/lib.rs
  crates/fmd-core/src/position.rs
  crates/fmd-core/src/rope.rs
  crates/fmd-core/src/scanner.rs
  crates/fmd-core/tests/incremental_contract.rs
  crates/fmd-core/tests/parse_contract.rs
  crates/fmd-gfm/src/autolink.rs
  crates/fmd-gfm/src/lib.rs
  crates/fmd-gfm/src/strikethrough.rs
  crates/fmd-gfm/src/table.rs
  crates/fmd-html/src/lib.rs
  crates/fmd-html/src/sanitize.rs
  crates/fmd-html/src/visitor.rs
  crates/fmd-html/tests/render_contract.rs
  crates/fmd-slug/src/lib.rs
  crates/fmd-wasm/src/lib.rs
  crates/fmd-wasm/src/parse.rs
  crates/fmd-wasm/src/render.rs
  crates/fmd-wasm/src/session.rs
  crates/fmd-wasm/tests/parse_wasm.rs
  crates/fmd-wasm/tests/render_wasm.rs
  crates/fmd-wasm/tests/session_wasm.rs
  crates/mdx-core/src/lib.rs
Due: cargo fmt --

fix: resolve CI failures for Node.js and Rust
  crates/fmd-core/src/ast.rs
  crates/fmd-core/src/incremental.rs
  crates/fmd-core/src/inline.rs
  crates/fmd-core/src/lib.rs
  crates/fmd-core/src/position.rs
  crates/fmd-core/src/rope.rs
  crates/fmd-core/src/scanner.rs
  crates/fmd-gfm/src/lib.rs
  crates/fmd-gfm/src/table.rs
  crates/mdx-core/src/lib.rs
  packages/faster-md-vite/package.json
  packages/mdx-vite/package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

fix: resolve remaining clippy warnings in tests
  crates/fmd-core/tests/incremental_contract.rs
  crates/fmd-core/tests/parse_contract.rs
  crates/fmd-gfm/src/autolink.rs
  crates/fmd-html/src/visitor.rs
Due: cargo fmt --

fix: resolve final clippy warnings for CI
  crates/fmd-core/tests/incremental_contract.rs
  crates/fmd-core/tests/parse_contract.rs
  crates/fmd-wasm/src/parse.rs
Due: cargo fmt --

fix: complete CI fixes for WASM module
  crates/fmd-wasm/src/lib.rs
  crates/fmd-wasm/src/render.rs
Due: cargo fmt --

fix: resolve render_html naming conflict in WASM module
  crates/fmd-wasm/src/render.rs
Due: cargo fmt --

fix: resolve all remaining CI failures
  crates/fmd-cli/src/main.rs
  crates/fmd-wasm/src/render.rs
  crates/fmd-wasm/src/session.rs
Due: cargo fmt --

fix: resolve clippy field reassignment warnings
  crates/fmd-wasm/src/render.rs
Due: cargo fmt --

chore: format and update dependencies
  .lintstagedrc.json
  biome.json
  package.json
  packages/faster-md-cli/package.json
  packages/faster-md/package.json
  packages/mdx-compiler/package.json
  packages/mdx-runtime/package.json
Due: biome format --write --no-errors-on-unmatched

feat: Add TypeScript infrastructure for all packages
  biome.json
  crates/fmd-wasm/tests/parse_wasm.rs
  crates/fmd-wasm/tests/render_wasm.rs
  crates/fmd-wasm/tests/session_wasm.rs
  packages/faster-md-cli/src/index.test.ts
  packages/faster-md-cli/src/index.ts
  packages/faster-md-cli/tsconfig.json
  packages/faster-md-vite/src/index.test.ts
  packages/faster-md-vite/src/index.ts
  packages/faster-md-vite/tsconfig.json
  packages/faster-md/src/index.test.ts
  packages/faster-md/src/index.ts
  packages/faster-md/tsconfig.json
  packages/mdx-compiler/src/index.test.ts
  packages/mdx-compiler/src/index.ts
  packages/mdx-compiler/tsconfig.json
  packages/mdx-runtime/src/index.test.ts
  packages/mdx-runtime/src/index.ts
  packages/mdx-runtime/tsconfig.json
  packages/mdx-vite/src/index.test.ts
  packages/mdx-vite/src/index.ts
  packages/mdx-vite/tsconfig.json
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

fix: Resolve clippy errors in render_contract test
  crates/fmd-html/tests/render_contract.rs
Due: cargo fmt --

test: Mark strict sanitization test as ignored
  crates/fmd-html/src/sanitize.rs
Due: cargo fmt --

feat: Implement Node wrapper and MDX compiler (T051-T059)
  packages/faster-md/src/index.ts
  packages/faster-md/src/loader.js
  packages/faster-md/src/parse.js
  packages/faster-md/src/processor.js
  packages/faster-md/src/render.js
  packages/faster-md/src/stream.js
  packages/mdx-compiler/src/codegen.js
  packages/mdx-compiler/src/index.js
  packages/mdx-compiler/src/index.ts
  packages/mdx-compiler/src/jsx.js
  packages/mdx-compiler/src/tokenizer.js
Due: biome check --apply --no-errors-on-unmatched

docs: Update tasks.md - mark Phase 3.3 tasks as complete
  specs/001-faster-md-mdx/tasks.md
Due: biome format --write --no-errors-on-unmatched

feat: Implement CLI tools (T062-T063)
  biome.json
  crates/fmd-cli/packages/faster-md-cli/package.json
  packages/faster-md-cli/src/cli.js
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Complete Phase 3.4 Integration (T064-T069)
  packages/faster-md-vite/src/index.js
  packages/faster-md/src/plugins/frontmatter.js
  packages/faster-md/src/plugins/gfm.js
  packages/faster-md/src/plugins/highlight.js
  packages/faster-md/src/plugins/registry.js
  packages/faster-md/tsconfig.json
  packages/mdx-vite/src/index.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: Update tasks.md - mark Phase 3.4 tasks as complete
  specs/001-faster-md-mdx/tasks.md
Due: biome format --write --no-errors-on-unmatched

fix: Make CI pass for Phase 3.3 without Node packages
  crates/fmd-core/src/scanner.rs
  package.json
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

fix: Correct unused variable fix in scanner.rs
  crates/fmd-core/src/scanner.rs
Due: cargo fmt --

fix: Configure biome to ignore build directories and use gitignore
  .changeset/config.json
  biome.json
Due: biome format --write --no-errors-on-unmatched

fix: Remove Phase 3.4 packages from Phase 3.3 branch
  packages/faster-md-cli/package.json
  packages/faster-md-cli/src/cli.js
  packages/faster-md-cli/src/index.test.ts
  packages/faster-md-cli/src/index.ts
  packages/faster-md-cli/tsconfig.json
  packages/faster-md-vite/package.json
  packages/faster-md-vite/src/index.test.ts
  packages/faster-md-vite/src/index.ts
  packages/faster-md-vite/tsconfig.json
  packages/faster-md/package.json
  packages/faster-md/src/index.test.ts
  packages/faster-md/src/index.ts
  packages/faster-md/src/loader.js
  packages/faster-md/src/parse.js
  packages/faster-md/src/processor.js
  packages/faster-md/src/render.js
  packages/faster-md/src/stream.js
  packages/faster-md/tsconfig.json
  packages/mdx-compiler/package.json
  packages/mdx-compiler/src/codegen.js
  packages/mdx-compiler/src/index.js
  packages/mdx-compiler/src/index.test.ts
  packages/mdx-compiler/src/jsx.js
  packages/mdx-compiler/src/tokenizer.js
  packages/mdx-compiler/tsconfig.json
  packages/mdx-runtime/package.json
  packages/mdx-runtime/src/index.test.ts
  packages/mdx-runtime/src/index.ts
  packages/mdx-runtime/tsconfig.json
  packages/mdx-vite/package.json
  packages/mdx-vite/src/index.test.ts
  packages/mdx-vite/src/index.ts
  packages/mdx-vite/tsconfig.json
  pnpm-workspace.yaml
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Remove incorrectly nested package from crates directory
  crates/fmd-cli/packages/faster-md-cli/package.json
Due: biome format --write --no-errors-on-unmatched

fix: Apply CI fixes from Phase 3.3 to Phase 3.4
  biome.json
  package.json
  packages/faster-md-vite/src/index.js
  packages/faster-md/src/plugins/frontmatter.js
  packages/faster-md/src/plugins/gfm.js
  packages/faster-md/src/plugins/highlight.js
  packages/faster-md/src/plugins/registry.js
  packages/mdx-vite/src/index.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Remove unused imports to fix linting errors
  packages/faster-md/src/processor.js
  packages/mdx-compiler/src/index.js
  packages/mdx-vite/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix: Relax biome linting rules for Phase 3.4
  biome.json
Due: biome format --write --no-errors-on-unmatched

fix: Format changeset config.json to pass biome linting
  .changeset/config.json
Due: biome format --write --no-errors-on-unmatched

fix: Add final newline to changeset config.json
  .changeset/config.json
Due: biome format --write --no-errors-on-unmatched

fix: Fix mdx-compiler TypeScript build error
  packages/mdx-compiler/src/index.test.ts
  packages/mdx-compiler/tsconfig.json
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Add missing npm dependencies for Phase 3.4 packages
  packages/faster-md-cli/package.json
  packages/faster-md-vite/package.json
  packages/mdx-vite/package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

fix: Add VERSION exports and acorn-jsx dependency
  packages/faster-md-vite/src/index.js
  packages/mdx-compiler/package.json
  packages/mdx-vite/src/index.js
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor: Re-enable strict biome linting rules and fix all violations
  biome.json
  packages/faster-md/src/plugins/frontmatter.js
  packages/faster-md/src/plugins/gfm.js
  packages/faster-md/src/plugins/highlight.js
  packages/mdx-vite/src/index.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Implement Phase 3.5 performance benchmarks and conformance tests
  crates/fmd-core/Cargo.toml
  specs/001-faster-md-mdx/tasks.md
  tests/benchmarks/latency.rs
  tests/benchmarks/memory.rs
  tests/benchmarks/wasm_perf.js
  tests/conformance/gfm.rs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --, taplo fmt

feat: Phase 3.5 - Performance benchmarks and conformance tests
  crates/fmd-core/Cargo.toml
  crates/fmd-core/src/ast.rs
  crates/fmd-core/src/error.rs
  crates/fmd-core/src/inline.rs
  crates/fmd-core/src/lib.rs
  crates/fmd-core/src/parser_impl.rs
  crates/fmd-core/src/position.rs
  crates/fmd-core/src/scanner.rs
  crates/fmd-html/src/visitor.rs
  crates/fmd-wasm/Cargo.toml
  crates/fmd-wasm/src/lib.rs
  crates/fmd-wasm/src/parse.rs
  crates/fmd-wasm/src/render.rs
  examples/basic-usage.js
  examples/incremental-parsing.js
  packages/faster-md/README.md
  packages/faster-md/src/loader.js
  packages/faster-md/src/parse.js
  packages/faster-md/src/render.js
  test-comprehensive.js
  test-direct.js
  test-gfm.js
  test-wasm.js
  tests/benchmarks/wasm_perf.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --, taplo fmt

Path conditions:
  biome check --apply --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  biome format --write --no-errors-on-unmatched: any of: *.{json,md,yml,yaml}
  cargo fmt --: any of: *.rs
  taplo fmt: any of: *.toml
